# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.RFRv02.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Unity-Projects\RFRv02\.idea\.idea.RFRv02\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
